# Copia este archivo a .env y ajusta los valores.

# --- Desarrollo ---
SECRET_KEY=cambia-esta-clave-en-produccion
ALLOWED_HOSTS=127.0.0.1,localhost

# --- Producción ---
# ALLOWED_HOSTS=tuusuario.pythonanywhere.com
APP_URL=www.happypawspillaro.org
CSRF_TRUSTED_ORIGINS=https://happypawspillaro.org
## --- Configuraciones base de datos
POSTGRES_HOST=postgres
POSTGRES_DB=happypaws
POSTGRES_USER=happypaws

# --- Exponer puertos ---
DJANGO_DEV_PORT=8000
NGINX_HTTPS_PORT=8443
NGINX_HTTP_PORT=8080

# --- Variables de uso en desarrollo ---)
# Ignoradas en producción, activar de acuerdo a la necesidad
#DJANGO_DEBUG=True
#DJANGO_LOG_LEVEL=DEBUG # INFO o DEBUG
