.venv/
__pycache__/
*.pyc
db.sqlite3
.env
/media/
/staticfiles/
.DS_Store

# Archivos de migraciones
*/*/*/migrations/*.*

# Credenciales sensibles
credenciales/superuser/*
credenciales/postgres/*

# Comunicación segura
web/ssl/*